.Carousel{
   white-space: nowrap;
   padding-top:80px;
   overflow:hidden;
   .wrapper {
    position: relative;
    transition: all 2s ease ;
    display: inline-block;
    height:600px;
    width:100vw;
    background-color: rgb(136, 199, 131);

    img {
        margin-top:50px;
        width:500px;
        height:500px;
        position: absolute;
        right:80px;
       }
    
    h1 {
        position: absolute;
        top:30%;
        left: 5%;
        color:white;
        font-size:40px;
       }
    p {
        position: absolute;
        top:38%;
        left:5%;
        color:white;
        font-size:22px;
        font-weight: 300;
       }
    button {
        border:none;
        position: absolute;
        top:48%;
        left:5%;
        padding:8px 24px;
        border-radius: 8px;
        background-color: black;
        color: white;
        font-size: 24px;
        cursor: pointer;
    }
   }
   
  
}