.navbar_wrapper {
    position: fixed !important;
    display: flex;
    padding-top: 18px;
    padding-bottom: 10px;
    width: 100%;
    gap:150px;
    z-index: 1;
    background-color: white;
    justify-content: center;
  
  .navbar_left {
    display: flex;
    gap:6px;
    
    .nav {
      display:flex;
      gap:24px;
      .nav_item {
      font-size:22px;
      font-weight:300;
      text-decoration: none;
      color:black;
    
    }
  }
  }
  .logo_center {
    margin-top: -15px;
    .logo {
      text-decoration: none;
      color:black;
      font-size:40px;
      font-weight: 500;
    }
  }
  
  .navbar_right {
    display: flex;
    gap:50px;
  
    .nav {
      display: flex;
      gap:24px;

      .nav_item {
        text-decoration: none;
        font-size:22px;
        font-weight:300;
        color:black;
      }
      .active {
        color:black;
        font-weight:400;
      }

      
   }
    .icons {
      display: flex;
      gap:12px;
      margin-top: 3px;
    }
    .cart {
      position: relative;
      cursor: pointer;
      span {
        display: inline-block;
        background-color: blue;
        border-radius:50%;
        width: 20px;
        height:20px;
        text-align: center;
        color:white;
        position: absolute;
        top:-10px;
        left: 16px;
      }
    }
  }
  
  }
  