.navbar_wrapper {
    position: fixed !important;
    display: flex;
    padding-top: 18px;
    padding-bottom: 10px;
    width: 100%;
    gap:150px;
    z-index: 1;
    background-color: white;
    justify-content: center;
  
  .navbar_left {
    display: flex;
    gap:6px;

    .lang {
      display: flex;
      margin-top: 9px;
  
      img {
        width: 24px;
        height: 16px;
      }
      .arrow {
         margin-top:-5px;
      }
    }
    
    .currency {
      display: flex;
      margin-top: 8px;
      
      p {
        margin-top:-4px;
      }
      .arrow {
        margin-top:-5px;
      }
    }
    .nav {
      display:flex;
      gap:24px;
    h1 {
      font-size:22px;
      font-weight:400;
    }
  }
  }
  .logo_center {
    font-size:40px;
    font-weight: 500;
    margin-top: -15px;
  }
  
  .navbar_right {
    display: flex;
    gap:50px;
  
    .nav {
      display: flex;
      gap:24px;
    h1 {
      font-size:22px;
      font-weight:400;
     }
   }
    .icons {
      display: flex;
      gap:12px;
      margin-top: 3px;
    }
    .cart {
      position: relative;
      cursor: pointer;
      span {
        display: inline-block;
        background-color: blue;
        border-radius:50%;
        width: 20px;
        height:20px;
        text-align: center;
        color:white;
        position: absolute;
        top:-10px;
        left: 16px;
      }
    }
  }
  
  }
  